<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdg.api.mapper.board.CommunityBoardMapper">

    <resultMap id="BoardListResultMap" type="com.kdg.api.model.BoardDTO">
        <id property="board_id" column="board_id"/>
        <result property="class_id" column="class_id"/>
        <result property="board_title" column="board_title"/>
        <result property="board_contents" column="board_contents"/>
        <result property="modify_dt" column="modify_dt"/>
        <result property="modify_user" column="modify_user"/>
        <result property="create_dt" column="create_dt"/>
        <result property="create_user" column="create_user"/>
        <result property="row_count" column="row_count"/>
        <result property="total_page" column="total_page"/>
    </resultMap>


    <resultMap id="BoardOtherInformationMap" type="com.kdg.api.model.OtherInformationDTO">
        <id property="total_row" column="total_row"/>
        <result property="max_page_no" column="max_page_no"/>
    </resultMap>

    <select id="selectBoardList" resultMap="BoardListResultMap">
        SELECT
            board_id,
            class_id,
            board_title,
            board_contents,
            modify_dt,
            modify_user,
            create_dt,
            create_user
        FROM kdh.tb_board tb
        ORDER BY create_dt
        OFFSET #{page_no} LIMIT #{page_cnt};
    </select>


    <select id="selectOtherInformation" resultMap="BoardOtherInformationMap">
        select
            count(*) as total_row,
            count(*)/ #{page_cnt} +1 as max_page_no
        from kdh.tb_board
    </select>


    <insert id="insertBoard"  parameterType="com.kdg.api.model.BoardDTO">
        INSERT INTO kdh.tb_board
        (board_id,
        class_id,
        board_title,
        board_contents,
        modify_dt,
        modify_user,
        create_dt,
        create_user)
        VALUES
        ((SELECT COALESCE(MAX(board_id), 0) + 1 FROM kdh.tb_board),
        1,
        #{board_title},
        #{board_contents},
        NULL,
        '',
        NOW(),
        '관리자킹동환');
    </insert>

    <select id="findBoardId" parameterType="long" resultType="long">
        SELECT board_id
        FROM kdh.tb_board
        WHERE board_id = #{board_id}
        and class_id = 1
    </select>

    <update id="updateBoard" parameterType="com.kdg.api.model.BoardDTO">
        UPDATE kdh.tb_board
        <set>
            <if test="board_title != null">
                board_title = #{board_title},
            </if>
            <if test="board_contents != null">
                board_contents = #{board_contents},
            </if>
            modify_dt = now(),
            modify_user = '마지막수정자'
        </set>
        WHERE board_id = #{board_id}
        AND class_id = 1
    </update>

    <delete id="deleteBoard" parameterType="long">
        DELETE FROM kdh.tb_board
        WHERE board_id = #{board_id}
        AND class_id = 1
    </delete>

    <select id="getBoardDetail" parameterType="long" resultMap="BoardListResultMap">
        select
            board_id,
            class_id,
            board_title,
            board_contents,
            modify_dt,
            modify_user,
            create_dt,
            create_user
        from kdh.tb_board
        where class_id = 1
        and board_id = #{board_id}
    </select>









</mapper>