<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdg.api.mapper.LoginMapper">

    <resultMap id="UserResultMap" type="com.kdg.api.model.UserDTO">
        <id property="user_account_id" column="user_account_id"/>
        <result property="user_passwd" column="user_passwd"/>
        <result property="user_passwd_fail_cnt" column="user_passwd_fail_cnt"/>
        <result property="user_use_yn" column="user_use_yn"/>
    </resultMap>

    <select id="findUserName" parameterType="String" resultMap="UserResultMap">
        SELECT
        user_account_id,
        user_passwd,
        user_passwd_fail_cnt,
        user_use_yn
        FROM kdh.tb_user_mgt
        where user_account_id = #{username};
    </select>

    <update id="updateFailedAttempts" parameterType="String" >
        UPDATE kdh.tb_user_mgt set
        user_passwd_fail_cnt = (CAST(user_passwd_fail_cnt AS integer) + 1)
        WHERE user_account_id = #{username}
        RETURNING user_passwd_fail_cnt;
    </update>

    <select id="selectFailedAttempts" parameterType="String" resultType="Long">
        SELECT user_passwd_fail_cnt::integer
        FROM kdh.tb_user_mgt
        WHERE user_account_id = #{username};
    </select>

    <select id="selectUserID" parameterType="String" resultType="Long">
        SELECT user_id
        FROM kdh.tb_user_mgt
        WHERE user_account_id = #{username};
    </select>





</mapper>