<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdg.api.mapper.admin.RoleMenegementMapper">

    <resultMap id="RoleResultMap" type="com.kdg.api.model.RoleDTO">
        <id property="role_id" column="role_id"/>
        <result property="role_code" column="role_code"/>
        <result property="role_name" column="role_name"/>
        <result property="meta_use_yn" column="meta_use_yn"/>
        <result property="create_dt" column="create_dt"/>
        <result property="create_user" column="create_user"/>
        <result property="modify_dt" column="modify_dt"/>
        <result property="modify_user" column="modify_user"/>
        <result property="row_count" column="row_count"/>
        <result property="total_page" column="total_page"/>
    </resultMap>


    <resultMap id="RoleOtherInformationMap" type="com.kdg.api.model.OtherInformationDTO">
        <id property="total_row" column="total_row"/>
        <result property="max_page_no" column="max_page_no"/>
    </resultMap>

    <select id="selectRoleList" resultMap="RoleResultMap">
        SELECT
            role_id,
            role_code,
            role_name,
            meta_use_yn,
            create_dt,
            create_user,
            modify_dt,
            modify_user
        FROM kdh.tb_role_mgt trm
        <where>
            <!-- role_name이 존재하면 WHERE 절에 조건을 추가 -->
            <if test="role_name != null and role_name != ''">
                role_name LIKE CONCAT('%', #{role_name}, '%')
            </if>
        </where>
        ORDER BY create_dt
        OFFSET #{page_no} LIMIT #{page_cnt};
    </select>


    <select id="selectOtherInformation" resultMap="RoleOtherInformationMap">
        SELECT
        COUNT(*) AS total_row,
        CEIL(COUNT(*) / #{page_cnt}::float) AS max_page_no
        FROM kdh.tb_role_mgt;
    </select>

    <select id="findRoleId" parameterType="long" resultType="long">
        SELECT role_id
        FROM kdh.tb_role_mgt
        WHERE role_id = #{role_id};
    </select>

    <select id="getRoleDetail" parameterType="long" resultMap="RoleResultMap">
        SELECT
            role_id,
            role_code,
            role_name,
            meta_use_yn,
            create_dt,
            create_user,
            modify_dt,
            modify_user
        FROM kdh.tb_role_mgt trm
        where 1 = 1
        and role_id = #{role_id};
    </select>

    <insert id="insertRole"  parameterType="com.kdg.api.model.RoleDTO">
        INSERT INTO kdh.tb_role_mgt
        (role_id,
        role_code,
        role_name,
        meta_use_yn,
        create_dt,
        create_user)
        VALUES
        ((SELECT COALESCE(MAX(role_id), 0) + 1 FROM kdh.tb_role_mgt),
        #{role_code},
        #{role_name},
        #{meta_use_yn},
        NOW(),
        '관리자킹동환');
    </insert>

    <update id="updateRole" parameterType="com.kdg.api.model.RoleDTO">
        UPDATE kdh.tb_role_mgt set
        role_code = #{role_code},
        role_name = #{role_name},
        meta_use_yn = #{meta_use_yn},
        modify_dt = now(),
        modify_user = '마지막수정자'
        WHERE role_id = #{role_id}
    </update>

    <delete id="deleteRole" parameterType="long">
        DELETE FROM kdh.tb_role_mgt
        WHERE role_id = #{role_id};
    </delete>




</mapper>