<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdg.api.mapper.board.BoardMapper">

    <resultMap id="BoardResultMap" type="com.kdg.api.model.board.BoardList">
        <id property="id" column="id"/>

    </resultMap>


    <select id="selectCodeList" resultMap="CodeResultMap">

    </select>
</mapper>