<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdg.api.mapper.board.CommunityBoardMapper">

    <resultMap id="BoardListResultMap" type="com.kdg.api.model.board.Board">
        <id property="board_id" column="board_id"/>
        <result property="class_id" column="class_id"/>
        <result property="board_title" column="board_title"/>
        <result property="board_contents" column="board_contents"/>
        <result property="modify_dt" column="modify_dt"/>
        <result property="modify_user" column="modify_user"/>
        <result property="create_dt" column="create_dt"/>
        <result property="create_user" column="create_user"/>
    </resultMap>

    <resultMap id="BoardOtherInformationMap" type="com.kdg.api.model.otherInformation.OtherInformation">
        <id property="total_row" column="total_row"/>
        <result property="max_page_no" column="max_page_no"/>
    </resultMap>


    <select id="selectBoardList" resultMap="BoardListResultMap">
        SELECT
            board_id,
            class_id,
            board_title,
            board_contents,
            modify_dt,
            modify_user,
            create_dt,
            create_user
        FROM kdh.tb_board tb
        ORDER BY create_dt
        OFFSET #{page_no} LIMIT #{page_cnt};
    </select>

    <select id="selectOtherInformation" resultMap="BoardOtherInformationMap">
        select
            count(*) as total_row,
            count(*)/ #{page_cnt} as max_page_no
        from kdh.tb_board tb ;
    </select>
</mapper>